.block-graph{
min-width: 310px;
max-width: 800px;
height: 400px;
margin: 0 auto;
}

.highcharts-series-label{
display:none
}

.shift {
    width: 100% !important;
}

label {
    justify-content: left !important;
}

canvas {
    margin: 0;
    padding: 0;
}
