{% extends 'base.html' %}
{% block title %}
    AI Counter
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">AI Counter</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="email" placeholder="E-Mail" aria-label="Search">
    <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
      <button type="button" class="btn btn-success ml-2 my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">
  Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <input class="form-control col-xl-12 mr-sm-2" type="email" placeholder="E-Mail" aria-label="Search">
            <input class="form-control col-xl-12 mr-sm-2" type="password" placeholder="Password" aria-label="Search">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss ="modal">Registrate</button>
      </div>
    </div>
  </div>
</div>
  </form>
</nav>
{% endblock %}

{% block content %}
    <div class="container text-center">
            <h1>AI Counter</h1>
            <h4>Helps you every day... anytime</h4>
        <p></p>
        <p></p>
            <div class="container">
                <div class="row">
                    <div class="form-group col-xl-4 col-md-4 col-sm-12">
                        <select class="form-control" id="select-zone-control">
                            <option value="">All zones</option>

                        </select>
                    </div>
                    <div class="form-group  col-xl-4 col-md-4 col-sm-12">
                        <select class="form-control" id="select-interval-control">
                            <option>Day</option>
                            <option>Week</option>
                            <option>Year</option>
                        </select>
                    </div>
                    <div class=" col-xl-4 col-md-4 col-sm-12">
                            <input type="date" class="form-control">
                    </div>
                </div>
            </div>

        <script>
                HOST = 'https://fix-online.sbis.ru';

                var buildSelectZone = function(object)  {
                    var zoneSelect = document.getElementById('select-zone-control');
                    object = JSON.parse(object)
                    object.forEach(zone => {
                        var
                            option = document.createElement("option");
                        option.value = zone.id;
                        option.innerHTML = zone.name;
                        console.log(zoneSelect);
                        zoneSelect.appendChild(option);
                    });
                };

                /// test
                //var resp = [{"camera":2,"id":1,"name":"\u0417\u0430\u043b","user_id":null,"x":[70,1460,1910,1910,70],"y":[240,90,230,1040,1040]},{"camera":4,"id":4,"name":"\u0422\u0440\u0435\u043d\u0430\u0436\u0435\u0440\u044b 1","user_id":null,"x":[5,1400,1730,1050,5],"y":[900,300,350,1000,1040]},{"camera":1,"id":5,"name":"\u0422\u0440\u0435\u043d\u0430\u0436\u0435\u0440\u044b 2","user_id":null,"x":[5,5,1300],"y":[1040,300,1040]},{"camera":4,"id":3,"name":"\u041a\u0430\u0440\u0434\u0438\u043e","user_id":null,"x":[1200,1800,1910,1910],"y":[1040,360,360,1040]},{"camera":3,"id":2,"name":"\u0421\u0438\u043b\u043e\u0432\u044b\u0435","user_id":null,"x":[5,1650,1910,1910,5],"y":[730,70,70,1040,1040]}];
                //buildSelectZone(resp);

                var updateSelectZones = function() {
                    var
                        xhttp = new XMLHttpRequest();

                    xhttp.onreadystatechange = function(resp){
                            buildSelectZone(this.responseText);
                    };
                    xhttp.open('GET', HOST + '/aicounter/zone/get_all',true);
                    xhttp.send();
                };
                updateSelectZones();

                var updateGraphics = function() {

                    var
                        zone_id = document.getElementById('select-zone-control').options.selectedIndex,
                        time_start =  document.getElementById('input-time-control').value,
                        period = document.getElementById('select-interval-control').options.selectedIndex;


                    var
                        xhttp = new XMLHttpRequest();

                    xhttp.onreadystatechange = function(data) {
                        data = JSON.parse(data)
                        Highcharts.chart('chart', {

                            title: {
                                text: 'Количество посетителей'
                            },

                            yAxis: {
                                title: {
                                    text: 'Количество посетителей'
                                }
                            },
                            xAxis: {
                                categories: data.caption
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                            },

                            plotOptions: {
                                series: {
                                    label: {
                                        connectorAllowed: false
                                    },

                                }
                            },

                            series: [{
                                name: 'Максимум',
                                data: data.max,
                                color: '#ff303e'
                            }, {
                                name: 'Среднее',
                                data: data.middle,
                                color: '#fcf632'
                            }, {
                                name: 'Минимум',
                                data: data.min,
                                color: '#36fc32'
                            }],

                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            }

                        });

                        Highcharts.chart('piechart', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Количество посетителей'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y}(чел.)</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.y}(чел.)'
                                    }
                                }
                            },
                            series: [{
                                name: 'Посетителей',
                                colorByPoint: true,
                                data: data.dattt
                            }]
                        });
                    };
                    xhttp.open('POST', HOST + '/aicounter/get_stat',true);
                    xhttp.send('zone_id='+zone_id+'&interval='+period+'&date='+time_start);
                };
                setInterval(updateGraphics(), 1500);
                updateGraphics();

            </script>
        <div class="container">
        <div class="row">
                <div id="chart"></div>
                <div id="piechart"></div>
                <div id="graph-user-line"></div>
            {% block graphs %}
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
