<!DOCTYPE html>
<html>
    <head>
      <title>Example</title>
      <meta charset="UTF-8">
      <meta name='description' content='On image drawer'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body onload="init()">
        <p>Выберите зону</p>
        <select id = 'zoneSelect' name="zoneSelect" onchange="selected_zone(this)">
                <option style="display:none">
        </select>
        <div id='drawer-container' style='visibility:hidden'>
                <div id='draw-container' style:left>
                        <canvas id='jPolygon' width="640" height='480'
                        style="cursor:crosshair" href="/static/image.jpg" 
                        onmousedown="point_it(event)" oncontextmenu="return false;">
                    Your browser doesn't support HTML5 canvas tag.
                        </canvas>
                    </div>
                    <div style='float:left; margin-left:20px;'>
                        <div>
                            <button onclick="undo()">Undo</button>
                            <button onclick="clear_canvas()">Clear</button>
                        </div>
                        <div>
                            <p><strong>Coordinates</strong></p>
                            <textarea id='coordinates' disabled='disabled'
                            style="width:300px; height:200px;"></textarea>
                            <button onmousedown="save()">Create Polygon</button>
                            <button id='save_btn'  style="visibility:hidden" onmousedown="send()">Save</button>
                        </div>
                    </div>
        </div>
        <script type='text/javascript' src ="{{ url_for('static', filename='jPolygon.js') }}" ></script>
    </body>
</html> 